.wrap-circles {
    display: flex;
    min-height: 50vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
  }
  
  .circle {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0.5rem;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
  }
  .circle.per-25 {
    background-image: conic-gradient(#36e617 10%, #F3F4F6 0);
  }
  .circle.per-50 {
    background-image: conic-gradient(#36e617 50%, #F3F4F6 0);
  }
  .circle.per-75 {
    background-image: conic-gradient(#36e617 75%, #F3F4F6 0);
  }
  .circle.per-100 {
    background-image: conic-gradient(#36e617 100%, #F3F4F6 0);
  }
  .circle .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 115px;
    height: 115px;
    background: #fff;
    border-radius: 50%;
    font-size: 1.85em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.75);
  }
  
  /*for Demo Only*/
  .demo-row {
  
    padding: 50px 0;
  }
  
  
  /*Implement*/
  .sponsor-feature {
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      min-height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5px 0;
  }
  
  #id-sponsors .carousel {
      margin-bottom: 20px;
  }
  #id-sponsors .item {
      padding-bottom: 20px;
  }
  #id-sponsors .carousel-indicators {
      bottom: -25px;
  }